html,body{margin:0;padding:0;font-family:arial;}
h1,h2,h3,h4,h5,h6,ul,li,ol,dt,dd{margin:0;padding:0;}
a{color:#333;}
#bd{background:#8C98AE;font-size:12px;overflow:hidden;}
.col-min{float:left;width:233px;margin-right:2px;border-right:1px solid #6F7E93;background:#A0B0C9;padding-bottom:32767px;margin-bottom:-32767px;}
.col-main{margin-left:0px;padding:3px;min-height:670px;_height:670px;border-left:1px solid #6F7E93;background:#CFDBE7;}

.mod-nav{margin:3px 3px 4px;border:1px solid #8398B3;border-width:1px 1px 1px 0;}
.mod-nav .hd{background:#F7F7F7;padding:7px 0 7px 7px;}
.mod-nav h3{padding:3px 0 3px 29px;background:url(../img/icons.gif) no-repeat 0 0;font-size:12px;font-weight:normal;}
.close .hd h3{background-position:0 -30px;}
.mod-nav .bd{padding:2px;background:#F5F5F5;}
.mod-nav ul{padding:0 16px 0 13px;background:#E6EBF1;}
.mod-nav li{padding:10px 0 10px 20px;border-top:1px solid #EDF2F8;border-bottom:1px solid #D3D8DE;list-style:none;}
.mod-nav li.first{border-top:none;}
.mod-nav li.end{border-bottom:none;}
.mod-nav li.on{font-weight:bold;color:#313332;}
.mod-nav li a{color:#333333;text-decoration:none;}
.mod-nav li a:hover{text-decoration:underline;}

.com-titlebar{background:#F7F7F7;padding:7px 0 7px 7px;}
.com-titlebar h3{padding:3px 0 3px 29px;background:url(../img/icons.gif) no-repeat 0 0;font-size:12px;font-weight:normal;}
.close .com-titlebar h3{background-position:0 -30px;}

.mod-maincontent{border:1px solid #A3B4C8;background:#fff;}
.mod-maincontent .hd{padding:10px 15px;border-bottom:1px solid #A3B4C8;background:#fff url(../img/bg_x.gif) repeat-x 0 0;}
.mod-maincontent .hd h2{font-weight:bold;font-size:12px;}
.mod-maincontent .bd{border:1px solid #fff;border-width:1px 1px 1px 1px;}

.nodata{padding:30px 30px 50px;text-align:center;}
#bd:after{content:'.';display:block;clear:both;height:0;visibility:hidden;}
#bd{zoom:1;}
