@CHARSET "UTF-8";  
#header {
	background-color: #004163;
	color: #ffff;
	background-repeat: repeat-x;
	height: 64px;
	margin: 0 auto;
	width: 100%;
	z-index: 100;
}

#query {
	top: 20px;
	color: #fff;
	float: right;
	height: 100%;
	text-align: center;
	position: relative;
	margin-right: 2.5%;
}

#track-panel {
	font-size: 14px;
	font-weight: 900;
	width: 130px;
	margin-right: 10px;
	font-color: #333;
}

#report {
	height: 620px;
	margin-left: 262px;
	position: relative;
	z-index: 10;
	margin-top: 0;
	width: auto;
}